@keyframes shimmer {
    0% {

        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}

.shimmer-content,.shimmer-logo {
    height: 1.25rem;
    background: #888;
    animation: shimmer 1s infinite;
    width: 80%;
    opacity: 0.4;
}

.shimmer-logo {
    height: 2.5rem;
}